body{
	margin: 0;
}
.block
{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.img-parallax 
{
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}
.container{
	width: 100%;
	padding: 0;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.banner{
	width: 100%;	
}
.videoWrapper img{
	width: 100%;
}
.logo{
	width: 100%;
	position: absolute;
	z-index: 99;
	padding: 0 5%;	
}
.top_logo{
	top: 5%;
}
.banner_logo{
	top: 5%;
	text-align: right;
}
.pro_logo{
	position: relative;
	text-align: center;
}
.logo img{
	width: 20%;
}

.logo_big img{
    width: 30%;
}
.amazon{
	width: 100%;
	top: 80%;
	text-align: center;
	position: absolute;
	z-index: 99;
}
.combo{
	bottom: 15%;
}
.amazon img{
	width: 140px;
}
.banner .slogan{
	position: absolute;
	width: 100%;
	bottom: 3%;
	text-align: center;
	z-index: 99;
	color: white;
	font-family: 'Roboto';
	font-size: 22px;
	text-transform: uppercase;
}
.slogan p{
	margin: 0;
}
.product {
    padding: 5% 2% 10%;
    text-align: center;
    width: 100%;
    background-color: #FCD800;
    background-image: url(assets/flame2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-blend-mode: color-dodge;
}
.category{
    text-align: center;
    padding: 5% 2% 0;
    width: 100%;
    background-image: url(assets/flame2.png);
    background-repeat: no-repeat;
    background-position-y: 135px;
    background-size: 150%;
}


.background_flames
{
    background-image: url(assets/flame2.png);
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: 135px;
    background-size: 150%;

}
.woman_flame{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    mix-blend-mode: color-dodge;
}
.white_flame{
    width: 30px;
    margin-top: -10px;
}
.woman_flame img{
    width: 100%;
}
.social{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
small a:hover{
    text-decoration: none;
}
.woman_background_flames{
    position:absolute;
    bottom: 0;
    /*background-image: url(assets/flame2.png);*/
    height:auto; 
    width: 100%; 
    mix-blend-mode: color-dodge;
    z-index: 9;
}
.woman_background_flames img{
    width: 100%;
}
.z_index{
    z-index: 100;
}

.footer{
    padding: 5% 2% 10%;
    width: 100%;
}
.footer table{
    text-align: left;
}
.orange_text{
    color: #fc540d;
}
.pro_title{
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 32px;
	color: black;
	text-transform: uppercase;
}
.pro_amazon{
	position: relative;
}
.pro_container
{
    height: 500px;
    overflow: hidden;
}
.pro{
	padding: 20px 0;
    height: 120%;
}

.row{
	margin: 0;
	text-align: center;
}

.dark_background
{
    background-color: #000;
}
.light_background
{
    background-color: #fff;
}
.cat_title{
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 32px;
	color: white;
	text-transform: uppercase;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.detail_title{
    color:#fc540d;
    font-size: 22px;
}
.style_prevu_kit
{
    display:inline-block;
    border:1px solid #f2d608;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
    width: 100%;
}
.style_prevu_kit img
{
    width: auto;
    height: 200px;
}

.padding-0
{
    padding-right:0;
    padding-left:0;
}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.my-0
{
    margin: 0;
}
.my-1
{   
    font-weight: 600;
    margin: 3rem 0;
}

.my-2
{
    margin: 4rem 0;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.yellow_text
{
    color: #f2d608;
}
.text_center{
    text-align: center;
}

.text_left{
    text-align: left;
}

.social_icon_style
{
    font-size: 3rem;
}



.overlay{
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,0.3);
    left: 0px;
    top: 0px;
    position: absolute;
}
.product_info{
    padding: 10px;
}
.product_info h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #ff4f0a;
    font-weight: 600;
}
.rating img{
    width: 15px;
    height: auto;
}
.product_info a{
    font-size: 12px;
    text-transform: uppercase;
    color: #fff301;
    display: block;
    font-weight: 600;
    margin-t
    op: 10px;
    text-decoration: none;
}
.product_outer{
    background-color: #fff;
    height: 300px;
    overflow: hidden;
}
.category_product_outer{
    background-color: #fff;
    height: 200px;
    overflow: hidden;
}

.custom_carousel
{
   overflow:hidden; 
   height:1000px; 
   background-color: #000;
   position: relative;
}

.scrollToTop a{
    text-decoration:none;
}


.scrollToTop:hover{
    color: #f2d608;
}
.p-0{
    padding: 0px !important;
}

.woman_slide_1{
        height: auto;
        width: 100%;
    }



/*<!-- CSS media queries XS --!>*/
@media (max-width: 1250px) {
    .custom_carousel
        {
        height: 775px;
        }
    .product
        {
        background-position-x: -200px;
        background-position-y: 300px;
        background-blend-mode: color-dodge;
        }
    .woman_background_flames 
    {
        top: 225px;
    }

}
@media (max-width: 992px) {
    small {
        font-size: 75%;
    }
    .category{
        background-position-y: 150px;
    }

    .custom_carousel
        {
        height: 675px;
        }

    .category {
        background-position-y: 150px;
        background-size: 250%;
    }

    table {
        font-size: 12px;
    }

    .product_info {
        margin-bottom: 30px;
    }
    .woman_background_flames{
        top: 100px;  
    }
    .woman_slide_1{
        height: auto;
        width: 130%;
    }
    .product {
        background-position-y: 550px;
    }

}
@media (max-width: 850px) {

     .custom_carousel
    {
        height: 600px!important;
    } 
}

@media (max-width: 767px) {
    .woman_background_flames
    {
        top: 25px;   
    }
    .table > tbody > tr > td, 
    .table > tbody > tr > th, 
    .table > tfoot > tr > td, 
    .table > tfoot > tr > th, 
    .table > thead > tr > td, 
    .table > thead > tr > th 
    {
        padding: 0;
    }

    .product 
    {
        background-position-y: 1535px;
    }

    .category {
        background-position-y: 1450px;
    }
    .custom_carousel
    {
        height: 480px!important;
    }
    .amazon{
        top: 70%;
    }    

}

@media (max-width: 640px) {

     .custom_carousel
    {
        height: 390px!important;
    } 
}

@media (max-width: 500px) {
     .woman_background_flames{
        top: -150px;
    }
     .custom_carousel
    {
        height: 250px!important;
    } 
}